<div class="container">
  <div class="card my-5">
    <div class="card-img-top">
      <div class="embed-responsive embed-responsive-4by3">
        <div class="embed-responsive-item">
          <img
            src="./assets/img/page1-cover.jpg"
            alt=""
            class="img-fluid w-100"
          />
        </div>
      </div>
    </div>
    <h4 class="card-title text-center">The cure for insomnia</h4>
    <div class="card-body">
      <div class="row">
        <div class="container text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget
          magna ac ipsum luctus consequat ut sed velit. Pellentesque vulputate
          euismod lectus, non gravida dolor. Nunc non tortor congue, pharetra
          velit a, vehicula purus. In eu velit nec nisi faucibus molestie non
          non orci. Vestibulum maximus turpis non facilisis interdum. Maecenas
          rhoncus ut justo quis auctor. Suspendisse vitae faucibus nunc. In
          accumsan leo sit amet purus pharetra fringilla. Phasellus molestie, mi
          id lacinia facilisis, neque lacus efficitur eros, imperdiet porttitor
          turpis turpis nec felis. Nunc porta velit in felis elementum
          scelerisque. Sed commodo laoreet nisi sed congue. Quisque consectetur
          magna id tortor dignissim luctus. Mauris condimentum nisi sit amet
          ante hendrerit, at facilisis libero egestas. Quisque quis mattis dui,
          eget auctor ipsum. Donec condimentum, dui sit amet sodales eleifend,
          lacus justo iaculis tortor, ut placerat ipsum ex vitae lacus. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Mauris et odio et
          dui suscipit rhoncus a in urna. Aenean sem massa, luctus eu fermentum
          quis, sollicitudin non augue. Donec magna metus, consequat quis nunc
          malesuada, gravida fringilla metus. Sed vel vehicula massa, at feugiat
          mi. Maecenas at nisl purus. Fusce a mollis turpis. Aliquam egestas
          massa sapien, ut venenatis arcu iaculis vitae. Sed sit amet ex
          tristique, congue orci eu, egestas massa. Nulla consequat suscipit
          dictum. Cras vulputate felis quis ultrices placerat. Curabitur
          consectetur dapibus sem nec gravida. Suspendisse commodo at enim eget
          vulputate.
        </div>
      </div>
      <div class="row">
        <div class="col text-center pt-2">
          <a class="btn btn-outline-secondary" href="#" role="button"
            >Buy Here</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
