<div class="container my-5">
    <div class="row">
        <!--col-->
        <div class="col">
            <a href="/page1">
            <div class="card h-100">
                <div class="card-img-top">
                    <div class="embed-responsive embed-responsive-4by3">
                      <div class="embed-responsive-item">
                        <img src="./assets/img/page1.jpg" alt="" class="img-fluid w-100">
                      </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">The cure for insomnia</h5>
                    <div class="text-center">
                        Nullam molestie venenatis ipsum, ac sodales nunc laoreet eget. 
                        Sed lacinia pellentesque nisl, sit amet finibus leo iaculis quis. 
                        Nunc fringilla nulla et porttitor lacinia. 
                        Duis ac ex nec magna efficitur congue. 
                        Mauris feugiat eros vel elit volutpat, eget viverra est interdum. 
                        Vestibulum finibus nisi et magna venenatis, vel vulputate nulla rhoncus. 
                        
                    </div>
                </div>
            </div>
            </a>
        </div>
        <!--col-->
        <div class="col">
            <a href="/page2">
                <div class="card h-100 ">
                    <div class="card-img-top">
                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="embed-responsive-item">
                                <img src="./assets/img/page2.jpg" alt="" class="img-fluid w-100">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Roland</h5>
                        <div class="text-center">
                            Vestibulum et pharetra nisi. Duis lobortis gravida porta. 
                            Sed egestas odio leo, rhoncus bibendum felis interdum sed. 
                            Aliquam sit amet scelerisque turpis. 
                            Aenean at nisl finibus, vehicula neque non, vulputate dui. 
                            Phasellus auctor maximus ipsum quis vehicula. 
                            Suspendisse lobortis scelerisque auctor. 
                           
                        </div>
                    </div>
                </div>
            </a>
           
        </div>
        <!--col-->
        <div class="col">
            <a href="/page3">
            <div class="card h-100">
                <div class="card-img-top">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="embed-responsive-item">
                            <img src="./assets/img/page3.jpg" alt="" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">How To</h5>
                    <div class="text-center">
                        Nulla nulla ante, posuere id tincidunt in, venenatis in tellus. 
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Duis nec arcu maximus, aliquam leo vitae, mattis augue. 
                        Fusce nec sem vel augue dignissim accumsan id id augue.
                        Vivamus consectetur, justo vel facilisis varius, tortor tortor feugiat ex, at malesuada mi justo non enim. 
                        Morbi at varius magna.
                    </div>
                </div>
            </div>
            </a>
        </div>
        <!--col-->
    </div>
</div>

       

