<div class="container">
  <div class="card my-5">
    <div class="card-img-top">
      <div class="embed-responsive embed-responsive-4by3">
        <div class="embed-responsive-item">
          <video class="img-fluid" playsinline autoplay muted loop>
            <source src="./assets/video/page2cover.mp4" type="video/mp4" />
            >
          </video>
        </div>
      </div>
    </div>
    <h4 class="card-title text-center">Roland</h4>
    <div class="card-body">
      <div class="row">
        <div class="container text-center">
          Fusce dapibus, est vel malesuada convallis, elit lacus tincidunt
          purus, vel ullamcorper quam purus quis neque. Vestibulum ac mauris
          tincidunt dolor pretium lobortis sit amet sit amet velit. Etiam
          placerat porttitor lectus, ultricies porttitor purus tincidunt id. Sed
          porta pretium erat vel euismod. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Phasellus interdum dui nec dapibus
          fringilla. Donec vestibulum orci massa, sed faucibus est vestibulum
          eu. Nulla odio ante, varius et nibh cursus, consectetur convallis mi.
          Fusce massa ante, mollis a mi vel, posuere rhoncus justo. Nam
          dignissim finibus gravida. Etiam at nisi quis nunc fermentum tempor.
          Proin eros lectus, semper id venenatis id, porttitor a elit. Phasellus
          lacus mauris, consectetur sit amet sodales vitae, elementum eu lorem.
          Proin tristique pretium nisl. Donec condimentum pharetra tincidunt.
          Donec orci lorem, vulputate id tincidunt at, imperdiet vitae nunc.
          Nulla porta risus et nunc tincidunt, vitae imperdiet sem efficitur.
          Fusce pharetra ligula viverra ante dictum, a congue mi sagittis. Cras
          faucibus nibh id porttitor hendrerit. Ut ultrices porttitor feugiat.
          Ut enim tellus, tempor et gravida eget, ornare non dui. Aenean nec
          luctus est, semper dignissim orci. Donec ac nunc sit amet tellus
          rhoncus blandit. Ut rhoncus at lorem sit amet sodales. Aenean mattis
          lacus id neque egestas sodales. Cras lacinia, mauris in rhoncus
          vestibulum, turpis turpis imperdiet felis, id interdum est lacus eu
          risus. Morbi viverra tristique mauris nec gravida. Vivamus erat
          tellus, dignissim ac odio ut, lacinia vestibulum nulla. Nulla
          elementum porta ornare. Nam at euismod augue. Proin molestie ultricies
          augue ut efficitur.
        </div>
      </div>
      <div class="row">
        <div class="col text-center pt-2">
          <a class="btn btn-outline-secondary" href="#" role="button"
            >Buy Here</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
